<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Abbey For Apple Watch (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Abbey For Apple Watch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Abbey For Apple Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Lignite Music for Spotify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Lignite Music.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6AA5CAED1E285C0A005F853F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6ADCE1FD1FB262B800BE0BBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AEB9CF71BACF60E00AD19FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AEB9D101BACF60F00AD19FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AEB9D1B1BACF60F00AD19FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
